<div class="container-sm">
    <br>
<div>  
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create User
  </button>
</div>
<br>

<div class="col-md-6">
<form class="row">

    <div class="mb-3" >
      Email: <input class="form-control" #email [value]=" ">
    </div>
    <div class="mb-3">
      Password: <input type="password" class="form-control" #password [value]=" ">
    </div>
   
    <div class="mb-3">
      <button type="submit" class="btn btn-primary btn-block mb-4" (click)="onClickSignIn(email.value, password.value)" data-bs-dismiss="modal">Sign In</button>
    </div>
  </form>
</div>




  
</div>





  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-createuser (createUser)="createUser($event)"></app-createuser>
        </div>
      </div>
    </div>
  </div>